.Login{
    margin-top:0px;

    .Banner{
        position: relative;
        background: url("../Produkter/navimg.jpg");
        background-size: cover;
        width: 100%;
        height:120px;
        margin: auto;
        margin-bottom:4%;
        }

        .loginTitle{
            max-width:1200px;
            width:100%;
            margin:auto;
    
            h2{
                font-family:Lobster;
                font-size:28pt;
                color:#324049;
                font-weight:100;
            }
            p{
                color:#898989;
                font-family:Open Sans;
                font-size:12;
                text-align:center;
            }
        }

    .loginIndhold{
        max-width:1000px;
        width:100%;
        margin:auto;
        text-align:center;
        margin-bottom:10%;


            img{
                max-width:100%;
            }

            form{
                padding-top:5%;
                input{
                    width:30%;
                    padding:15px;
                    box-sizing:border-box;
                    margin-bottom:5px;
                    border:none;
                    outline:none;
                }
                button{
                    background-color: #617685;
                    text-decoration:none;
                    border:none;
                    outline:none;
                    padding:8px;
                    margin-top:15px;
                    width:15%;
                    color:white;
                    font-family:Open Sans;
                    font-weight:100;
                    letter-spacing:1pt;
                }
            }
        }
    }
