
.slider{
    position:fixed;
    top:0;
    height:200px;
}

.firstSection{
    width:1200px;
    max-width:100%;
    .overskrift{
        font-family:Lobster;
        text-align:center;
        font-size:28pt;
        color: #324049;
        font-weight:100;
        padding-top:80px;
        padding-bottom:40px;
    }
    .bodyText{
        color:#898989;
        font-family:Open Sans;
        font-size:12pt;
        text-align:center;
    }

    .imageGrid{
        padding-top:12%;
        display:grid;
        margin:auto;
        text-align:center;
        width:100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:40px;
        padding-bottom:7%;
    }

    .image{
        width:60%;
        border-radius:50%;
        text-align:center;
        margin:auto;
    }

    figcaption{
        margin:auto;

        h3{
            padding-top:30px;
            font-size:13pt;
        }

        p{
            font-size:10pt;
            padding:15px 30px 30px 30px;
            line-height:20pt;
            color:#898989;
        }
    }
}

.nyhedsbrev{
position: relative;
background: url("./Images/newsletterbg.jpg");
background-size: cover;
background-color:yellow;
width: 100%;
margin: auto;
margin-top:1.5%;
margin-bottom:4%;

article{
    margin:auto;
    width:1200px;
    max-width:100%;
    padding: 10% 4% 12% 4%;
    box-sizing:border-box;
}

h3{
    font-family:Lobster;
    font-size:28pt;
    color:white;
    font-weight:100;
}
p{
    font-family:Open Sans;
    color:white;
    font-size:10pt;
    padding-bottom:4%;
}

input{
    border:none;
    padding:14px;
    width:70%;
    outline:none;
}

button{
    background:#617685;
    border:none;
    text-decoration:none;
    color:white;
    font-family:Open Sans;
    padding:14px;
    width:12%;
    font-size:9pt;
    letter-spacing:1pt;
    outline:none;
    cursor:pointer;
    &:hover{
        background:#546674;
    }
}

.letter{
    color:white;
    background:#bbc8d4;
    display:inline-block;
    padding:12px 14px 13.5px 14px;
    font-size:10pt;
    font-family:open sans;
}
}
