@media only screen and (max-width: 900px) {
.slider{
        margin-top:30px;
    }
header{
        position:static;
        color:#324049;
    }
nav{
    li{
        color:#324049;
        :visited{
            color:#324049;
        }
    }

}

.Produkter{
    margin-top :100px;
.Banner{
    opacity:0.6;
    position: absolute;
    top:0;
    z-index:-1;
}
}

.Home_nyhedsbrev__23Aaq{
input{
    width:60%;
}
button{
    width:20%;
    min-width:80px;
}
}

.Home_firstSection__2JhQy{
    .Home_imageGrid__2Wrmz{
    grid-gap:0px;
    padding-bottom:8%;
}
figcaption{
    p{
        padding:15px 15px;
    }
}
}

.Produkter{
    .Indhold{
        grid-template-columns: auto;
    }
}

.Nyeste{
    margin-bottom:50%;
    .nyesteGrid{
        grid-template-columns: 1fr 1fr;
    }
}

.Produkter{
.breadGrid{
    grid-template-columns: auto auto;
}
}

.sliderTitle{
    font-size:7vw;
}

}


@media only screen and (max-width: 610px) {
    .Nyeste{
        margin-bottom:110%;
        .nyesteGrid{
            grid-template-columns: 1fr;
            max-width:90%;
            grid-gap:2%;
            p{
             margin-top:5px;
             padding-bottom:0;
            }
            button{
                margin-top:0;
            }
        }
    }

    .Produkter{
        margin-bottom:40%;
        .breadGrid{
            grid-template-columns: 1fr;
            max-width:90%;
            grid-gap:2%;
            p{
             margin-top:5px;
             padding-bottom:0;
            }
            button{
                margin-top:0;
            }
        }
    }

    .sliderTitle{
        font-size:7vw;
    }

    .Home_firstSection__2JhQy{
        .Home_imageGrid__2Wrmz{
        grid-template-columns: 1fr;
        img{
            width:40%;
            max-width:300px;
        }
        figcaption{
            padding-bottom:30px;
        }
        }
    }
}